@font-face {
    font-family: 'Americana LT';
    src: url('AmericanaLT-ExtraBold.woff2') format('woff2'),
        url('AmericanaLT-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

