.hero {
    width: 100vw;
    height: 100vh;
    display: block;
    position: relative;
}

.max__desktop {
    max-width: 1140px;
    width: 1140px;
    position: relative;
}

.full__section {
    width: 100vw;
    height: 100vh;
    display: block;
    position: relative;
}

.full__width {
    width: 100vw;
    display: block;
    position: relative;
}

.w__100 {
    width: 100%;
}

.w__75 {
    width: 75%;
}

.px50 {
    width: 50px;
}

.px100 {
    width: 100px;
}

.px200 {
    width: 200px;
}

.px300 {
    width: 300px;
}

.px400 {
    width: 400px;
}

.px500 {
    width: 500px;
}

.px600 {
    width: 600px;
}

.px700 {
    width: 700px;
}

.px800 {
    width: 800px;
}

.px900 {
    width: 900px;
}

.px1000 {
    width: 1000px;
}