.section__space {
    margin-top: 70px;
    margin-bottom: 70px;
}

.s__margin {
    margin-bottom: 30px
}

.m__margin {
    margin-bottom: 60px
}

.l__margin {
    margin-bottom: 90px
}

.s__margin__top {
    margin-top: 30px
}

.m__margin__top {
    margin-top: 60px
}

.l__margin__top {
    margin-top: 90px
}

.s__padding {
    
}

.m__padding {

}

.l__padding {
    
}

.s__padding__top {
   padding-top: 10px; 
}

.m__padding__top {
    padding-top: 20px; 
}

.l__padding__top {
    padding-top: 30px; 
}

.auto__margin {
    margin: auto 0;
}