.main__title {
  font-size: 80px;
  color: var(--color-dark);
  font-family: 'Montserrat';
  font-weight: bold;
}

.secondary__title {
  font-size: 50px;
  color: var(--color-dark);
  font-family: 'Montserrat';
  font-weight: bold;
}

.third__title {
  font-size: 30px;
  color: var(--color-dark);
  font-family: 'Montserrat';
  font-weight: bold;
}
