/* @font-face {
  font-family: 'Americana LT';
  src: url('../font/AmericanaLT-ExtraBold.woff2') format('woff2'),
      url('../font/AmericanaLT-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
} */