.primary {
    color: var(--color-primary);
}

.light {
    color: var(--color-light);
}

.dark {
    color: var(--color-dark);
}

.white {
    color: white;
}

.black {
    color: black;
}

.primary__back {
    background: var(--color-primary);
}

.light__back {
    background: var(--color-light);
}

.dark__back {
    background: var(--color-dark);
}

.white__back {
    background: white;
}

.black__back {
    background: black;
}