.block {
    display: block;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.around {
    @extend .flex;

    justify-content: space-around;
}

.between {
    @extend .flex;

    justify-content: space-between;
}

.h__center {
    @extend .flex;
    justify-content: center;
}